html {
    font-size: 62.5%;
    font-family:  -apple-system, 'Note Sans JP', sans-serif;
    font-weight: 400;

}
body{
    color: black;
    background-color: #363581;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
img{
    pointer-events: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
h1{
    display: block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}
h2{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

/* 以下PCスマホで共通 */

.main_contents{
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    margin: 0 auto;
}
.contents{
    position: relative;
}
.main_contents .top{
    background-image: url("img/back.gif"); 
    background-size: cover;
    background-position: center center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;

    position: relative;
}

.main_contents .top img.scroll_arrow{
    animation-name: vibration;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main_contents section.introduce, .main_contents section.sns{
    position: relative;
    background-color: #363581;;
    scroll-snap-align: start;
    
}
.main_contents section.introduce .box{
    display: block;
    width: auto;
    height: auto;
    margin: 0;
}

section.sns ul{
    display: flex;
    justify-content: center;
}
section.sns p{
    text-align: center;
}
footer{
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (min-width: 769px) {
    body{
        font-size: 1.6rem;
    }
    .main_contents section.introduce, .main_contents section.sns{
        min-height: calc(100vh - 100px);
        padding: 50px;
    }
    .contents{
        min-height: calc(100vh - 200px);
        padding: 50px;
        background-color: white;
    }
    h1{
        font-size: 4rem;
        color: #363581;
        width: 30rem;
        margin-top: 20px;
        margin-bottom: 70px;
    }
    h2{
        font-size: 2rem;
        color: #363581;
        width: 50rem;
        height: auto;
        border-bottom: 2px solid;
        border-color: #363581;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .main_contents .top img.main_logo{
        display: block;
        margin: 0 auto;
        width: 200px;
        height: auto;
    }
    .main_contents .top img.scroll_arrow{
        display: block;
        width: 100px;
        height: auto;
        position: absolute;
        top: auto;
        left: auto;
        right: auto;
        bottom: 0;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    @keyframes vibration {
        0% {
            margin-bottom: 100px;
        }
        10% {
            margin-bottom: 150px;
        }
        100%{
            margin-bottom: 100px;
        }
    }

    .main_contents section.introduce .box{
        width: auto;
    }
    .main_contents section.introduce .box .first_sentence{
        font-size: 2rem;
    }
    .main_contents section.introduce .box .first_sentence img.myname{
        display: inline-block;
        height: 3rem;
        margin-right: 5px;
    }
    .box .hobbyandpic{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box .hobbyandpic .hobby{
        margin-right: 5px;
    }
    .box .hobbyandpic .pic{
        margin-left: 5px;
    }

    .box .hobbyandpic .pic img{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 300px;
        box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;
    }
    .box .hobbyandpic .pic p{
        display: block;
        font-size: 1rem;
        text-align: center;
    }

    .box .hobbyandpic .hobby ul li img.hating{
        height: 1.6rem;
        margin-right: 5px;
    }

    
    section.sns ul li{
        display: block;
        font-size: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px;
    }
    section.sns ul li:active{
        transform: translateY(-10px);
        transition: .3s;
    }
    section.sns ul li img{
        width: 100px;
        height: 100px;
    }
    section.sns .mail{
        display: block;
        height: auto;
        padding: 15px;
        align-items: center;
        text-align: center;
    }
    section.sns .mail img{
        display: inline-block;
        height: 30px;
        margin: 5px;
    }
    section.sns .contents footer{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    section.sns .contents footer img{
        height: 1.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }


}
@media screen and (max-width:768px) {
    body{
        font-size: 1.4rem;
    }
    .main_contents section.introduce, .main_contents section.sns{
        min-height: calc(100vh - 100px);
        padding: 10px;
    }
    .contents{
        min-height: calc(100vh - 40px);
        padding: 10px;
        background-color: white;
    }
    h1{
        font-size: 3rem;
        color: #363581;
        width: 18rem;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    h2{
        font-size: 1.8rem;
        color: #363581;
        width: auto;
        height: auto;
        border-bottom: 2px solid;
        border-color: #363581;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .main_contents .top img.main_logo{
        display: block;
        margin: 0 auto;
        width: 40%;
        height: auto;
    }
    .main_contents .top img.scroll_arrow{
        display: block;
        width: 20%;
        height: auto;
        position: absolute;
        top: auto;
        left: auto;
        right: auto;
        bottom: 0;
        margin: 0 auto;
        margin-bottom: 5vh;
    }
    @keyframes vibration {
        0% {
            margin-bottom: 5vh;
        }
        10% {
            margin-bottom: 10vh;
        }
        100%{
            margin-bottom: 5vh;
        }
    }

    .main_contents section.introduce .box{
        width: auto;
    }
    .main_contents section.introduce .box .first_sentence{
        font-size: 1.8rem;
    }
    .main_contents section.introduce .box .first_sentence img.myname{
        display: inline-block;
        height: 2.5rem;
        margin-right: 5px;
    }
    .box .hobbyandpic .pic img{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 200px;
        box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;
    }
    .box .hobbyandpic .pic p{
        display: block;
        font-size: 1rem;
        text-align: center;
    }
    .box .hobbyandpic .hobby ul li{
        margin-bottom: 2px;
    }
    .box .hobbyandpic .hobby ul li img.hating{
        height: 1.4rem;
        margin-right: 5px;
    }
    
    section.sns ul li{
        display: block;
        font-size: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 10px;
    }
    section.sns ul li:hover{
        filter: brightness(1.3);
        transition: .3s;
    }
    section.sns ul li img{
        width: 60px;
        height: 60px;
    }
    section.sns .mail{
        display: block;
        height: auto;
        padding: 10px;
        align-items: center;
        text-align: center;
    }
    section.sns .mail img{
        display: inline-block;
        height: 16px;
        margin: 5px;
    }
    section.sns .contents footer{
        display: block;
        width: auto;
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    section.sns .contents footer img{
        height: 1.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }
}
